**/.idea/**
**/*.Development.*
**/*.Production.*

# User specific
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store
**/nitroxbot.db
**/nitroxbot.db-shm
**/nitroxbot.db-wal