@inherits LayoutComponentBase

<PageTitle>Nitrox Discord Bot</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a class="nav-link p-2 mr-2 link-bg ripple text-center" style="width: 42px" href="https://github.com/SubnauticaNitrox/Nitrox" target="_blank" data-toggle="tooltip" data-placement="bottom" title="" data-offset="0, 5, 0, 0" data-original-title="GitHub">
                <img style="filter: invert(1)" src="img/github.svg" alt="GitHub" width="24px">
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>