@page "/"
@page "/motd"

<PageTitle>MOTD</PageTitle>

<h1>Message Of The Day</h1>

<p>Create, edit or <span style="text-decoration: line-through">remove</span> MOTD messages of your channels</p>

@* TODO: Added form with buttons and text boxes for MOTD editing *@

@code {

    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }

}